
<div class="home-page">
  <!-- left content -->
  <div class="home-page__content">
    <div class="home-page__content__tab">
      <div class="home-page__content__tab__item">
        Your Feed
      </div>
      <div class="home-page__content__tab__item home-page__content__tab__item--active">
        Global Feed
      </div>
    </div>

    <ng-template #vcArticle></ng-template>
  </div>

  <!-- right content -->
  <div class="home-page__populars">
    <div class="home-page__content__wrap_loader">
      <ng-template #vcTag></ng-template>
    </div>
  </div>
</div>
