
<div class="edit-article">
  <h2 style="text-align: center;">Edit Article</h2>
  <form class="edit-article__form-edit-wrap">
    <div>
      <label for="title" style="display: block">Title</label>
      <textarea id="w3review" name="w3review" rows="4" cols="50">
        
      </textarea>
    </div>

    <div>
      <label for="Description" style="display: block">Description</label>
      <textarea id="w3review" name="w3review" rows="4" cols="50">
      </textarea>
    </div>

    <div>
      <label for="body" style="display: block">Body</label>
      <textarea id="w3review" name="w3review" rows="4" cols="50">
      </textarea>
    </div>

    <input type="submit" value="Add">

   
  </form>
</div>