// ==== Unit ====
$rootFontSize: 16px;

// ==== Spacing ====

// ==== Color ====
$white: #ffff;
$white1: #f3f3f3;
$silver: #bdc3c7;
$clouds: #ecf0f1;
$nephritis: #27ae60;
$emeald: #2ecc71;
$green1: #5cb85c;
$red1: #c0392b;
$purpe: #8e44ad;
$peteriver: #3498db;
$midlenightblue: #2c3e50;
$black: black;

// ==== Screen Size ====
$small: 400px;
$medium: 650px;
$large: 1200px;

// ==== Font Size ====
$font-mini: 12px;
$font-small: 14px;
$font-medium: 18px;
$font-large: 24px;
$font-big-arge: 32px;

//==== Distant ====
$distant-tiny: 4px;
$distant-mini: 8px; // 4 * 2
$distant-small: 12px; // 4 * 3
$distant-medium: 16px; // 4 * 4
$distant-large: 20px; // 4 * 5
