
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <div class="footer__wrapper">
      <div class="footer__wrapper__item">
        <b style="text-decoration: underline; letter-spacing: 3px;">Introdution: </b>
        <p><i>" Hello my name is Khoi</i></p>
        <p><i>I'm an frontend developer</i></p>
        <p><i>Fun to see you like me "</i></p>
      </div>

      <div class="footer__wrapper__item">
        <b style="text-decoration: underline; letter-spacing: 3px;">Infomation: </b>
        <p>Facebook: <a href="https://www.facebook.com/trongkhoi.huynh.9674">Fb Link</a></p>
        <p>Github: <a href="https://github.com/khoihuynhInfo">Github Link</a> </p>
        <p>Linkin: <a href="https://www.linkedin.com/in/khoi-huynh-b625a6185/">Linkedin</a></p>
        <p>Email Address: <a href="#">huynhlutrongkhoi@gmail.com</a></p>
      </div>
      
      
    </div>

  </footer>
</div>